* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
  font: 16px 'Poppins', sans-serif;
  background: #011f20;
  color: white;  
}